<!DOCTYPE html>
<html lang="en">
  <head>
     <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact</title>

    <link rel="stylesheet" type="text/css" href="css/output.css" />
    <link rel="stylesheet" type="text/css" href="css/main.css" />
    <link rel="stylesheet" type="text/css" href="css/nav.css" />

  </head>
  <body>
    <header>
      <h2 class="logo">Bharat Billpay</h2>
      <nav class="navigation">
        <li><a href="/">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="/contacts">Contacts</a></li>
        <div class="nav-btns">
          <li><a href="/login" class="login-btn">Login</a></li>
          <li><a href="/signup" class="sign-up-btn">Sign up</a></li>
        </div>
      </nav>
    </header>
    <div class="p-4 mt-20 the-box bg-gradient-to-r justify-center content-center">
      <div
        class=" rounded-2xl sub-box p-5 mt-5  m-5 backdrop-blur-sm bg-thered flex justify-center content-center border-solid border-2 border-white"
      >
        <form action="/contact" method="POST">
          <label class="text-md font-semibold text-white py-3 block" for="email"
            >Enter Email:</label
          >
          <input
          id="email"
            class="p-3 w-96 block rounded-lg focus:ring-blue-500 focus:border-blue-500 dark:focus:ring-blue-500 dark:focus:border-blue-500"
            type="email"
            name="email"
          />
          <label
            class="text-md font-semibold text-white py-3 block"
            for="message"
            >Enter Message</label
          >
          <textarea
            class="p-3 w-96 block rounded-lg "
            id="message"
            name="message"
            cols="20"
            rows="10"
          ></textarea>
          <input
            class="text-xl font-bold px-6 py-3 my-3 block rounded-md cursor-pointer focus:ring-blue-500 focus:border-blue-500 dark:focus:ring-blue-500 dark:focus:border-blue-500 bg-red-600 border-solid border-white border-2 hover:bg-red-700 text-white"
            type="Submit"
            value="Submit"
            id="submit"
          />
        </form>
      </div>
    </div>


  </body>
</html>
