<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>home</title>

    <link rel="stylesheet" type="text/css" href="css/home.css" />
  </head>

  <body>
    <header>
      <h2 class="logo">Bharat Billpay</h2>
      <nav class="navigation">
        <li><a href="/">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="/contacts">Contacts</a></li>
        <div class="nav-btns">
          <li><a href="/login" class="login-btn">Login</a></li>
          <li><a href="/signup" class="sign-up-btn">Sign up</a></li>
        </div>
      </nav>
    </header>

    <div class="center">
      <div class="welcome">
        <h2><strong>Namaste!</strong><br />Welcome to your khata<br />app.</h2>
        <p>
          At
          <strong>Bharat Billpay</strong>
          , we believe in making billing a breeze. Our platform is designed with
          you in mind, providing a simple, secure, and efficient way to handle
          all your billing needs.
        </p>
        <p>
          generate invoices, get record of your payments, manage your customers
          in one place.
        </p>
        <p><strong>“Billing made simple, secure, and efficient.”</strong></p>
        <div class="welcome-template-btns">
          <li><a href="/login" class="login-btn">Login</a></li>
          <li><a href="/signup" class="sign-up-btn">Sign up</a></li>
        </div>
      </div>
    </div>

    <script src="js/home.js"></script>
  </body>
</html>