@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}

:root {
    --primary-color: #ffffff;
    --secondary-color: #ce2718;
    --body-backgroud-color: rgb(251, 244, 225);
}

body {
    width: 100%;
    height: 100%;
    background: url('/images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-color: #f29b4d;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #ce2718;
    width: 100%;
    height: 80px;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.logo {
    font-size: 30px;
    color: var(--primary-color);
    user-select: none;
}

.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation>a {
    position: relative;
    font-size: 1.1em;
    color: var(--primary-color);
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

.navigation>a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: var(--primary-color);
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform.5s;
}

.navigation>a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}

.login-btn,
.sign-up-btn {
    color: white;
    width: 106px;
    height: 45px;
    background: transparent;
    border: 2px solid var(--primary-color);
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    font-weight: 500;
    transition: .5s;
}

.login-btn {
    margin-left: 33px;
    margin-right: 25px;
}

.login-btn:hover,
.sign-up-btn:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
}

.nav-btns .login-btn:hover p,
.nav-btns .sign-up-btn:hover p {
    font-weight: 600;
}

/* Welcome template css */

.welcome {
    padding: 38px;
}

.welcome h2 {
    text-align: center;
    font-size: 21px;
    color: var(--primary-color);
}

.welcome>p {
    margin-top: 20px;
    font-size: 14px;
    text-align: center;
    color: var(--primary-color);
}

.welcome-template-btns {
    margin-top: 22px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    row-gap: 10px;
}

.welcome-template-btns .sign-up-btn,
.welcome-template-btns .login-btn {
    margin-left: 0;
    margin-right: 0;
    width: 145px;
    height: 48px;
    font-size: 19px;
}

.welcome-template-btns .sign-up-btn {
    color: rgb(238 12 12);
    background-color: white;
}

.welcome-template-btns .sign-up-btn p {
    color: red;
    font-size: 19px;
    font-weight: 600;
}

.welcome-template-btns .sign-up-btn:hover p {
    font-size: 18px;
    font-weight: 600;
}

.welcome-template-btns .login-btn:hover {
    color: rgb(238 12 12);
    background: var(--primary-color);
}

.welcome-template-btns .login-btn:hover p {
    font-weight: 600;
}