@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

.form-box-login {
    width: 100%;
    padding: 40px 40px 25px;
}

.form-box-login h2 {
    font-size: 28px;
    color: var(--primary-color);
    text-align: center;
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid var(--primary-color);
    margin: 30px 0;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: var(--primary-color);
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label {
    top: -5px;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: var(--primary-color);
    font-weight: 600;
    padding: 0 35px 0 5px;
}

.input-box .icon {
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: var(--primary-color);
    line-height: 57px;
}

.remember-forgot {
    font-size: 15px;
    color: var(--primary-color);
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}

.remember-forgot label input {
    accent-color: var(--primary-color);
    margin-right: 3px;
}

.remember-forgot label input:checked {
    color: #ce2718;
}

.remember-forgot a {
    color: var(--primary-color);
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.form-box-login .login-btn {
    width: 100%;
    height: 45px;
    background: var(--secondary-color);
    border: 2px solid white;
    color: #fff;
    border-radius: 6px;
    outline: none;
    font-size: 1em;
    font-weight: 500;
    cursor: pointer;
    transition: 0.5s;
}

.form-box-login .login-btn {
    margin-left: 0;
    margin-right: 0;
}

.form-box-login .login-btn:hover {
    color: var(--secondary-color);
    background-color: var(--primary-color);
    font-weight: 600;
}

.login-register {
    font-size: 15px;
    margin-top: 25px;
    font-weight: 500;
    color: var(--primary-color);
    text-align: center;
}

.login-register p {
    width: 277px;
}

.login-register p .sign-up-btn {
    width: 0;
    border: none;
}

.login-register p .login-btn {
    margin: 0;
    color: var(--primary-color);
    text-decoration: none;
}

.login-register p .login-btn:hover {
    color: var(--primary-color);
    text-decoration: underline;
    font-weight: 500;
}

.login-register p .sign-up-btn {
    color: var(--primary-color);
    text-decoration: none;
}

.login-register p .sign-up-btn:hover {
    color: var(--primary-color);
    text-decoration: underline;
    font-weight: 500;
}